body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    color: #000;
    background: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Container
================*/
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header
================*/
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;
    position: fixed;
    background-color: rgba(255, 255, 255, .97);
}

.header.fixed .header__inner {
    padding: 25px 0;
}

.header__inner {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav
================*/
.nav {
    display: flex;
    font-family: inherit;
    font-weight: 300;
    font-size: 32px;
}

.nav__link {
    text-decoration: none;
    color: inherit;
    transition: transform .2s linear;
}

.nav__link+.nav__link {
    margin-left: 110px;
}

.nav__link:hover {
    transform: scale(1.08);
}

/* Intro
================*/
.intro {
    padding: 315px 0 180px;
    background-image: url('../images/intro/intro_bg.webp');
    background-repeat: no-repeat;
}

.intro__inner {
    display: flex;
    justify-content: space-between;
}

.intro__content {
    padding-top: 100px;
    width: 50%;
    position: relative;
}

.intro__prompt {
    position: absolute;
    font-family: 'Caveat', cursive;
    font-size: 48px;
    font-weight: 400;
    color: #7ED3EE;
}

.intro__prompt--content {
    top: -8%;
    left: 47%;
    white-space: nowrap;
}

.intro__prompt--pictures {
    top: 109%;
    left: -65%;
}

.intro__promt-arrow1 {
    position: absolute;
    top: 15px;
    left: 47%;
}

.intro__promt-arrow2 {
    position: absolute;
    top: 100%;
    left: -30%;
}

.intro__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 55px;
    white-space: nowrap;
}

.intro__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 49px;
}

.intro__text {
    margin: 56px 0 65px;
    font-size: 23px;
    font-weight: 300;
    line-height: 1.2;
}

.intro__pictures {
    position: relative;
    width: 50%;
}

/* Button
================*/
.btn {
    padding: 29px 47px;
    display: inline-block;
    vertical-align: top;

    border-radius: 100px;

    font-family: inherit;
    font-size: 29px;
    font-weight: 400;
    line-height: 14px;
    color: #000;
    text-decoration: none;
    text-align: center;
    border: 4px solid #FFE660;

    transition: background-color .2s linear;
}

.btn--graduates {
    margin-top: 150px;
    background: #fff;
}

.btn:hover {
    background: #FFE660;
    cursor: pointer;
}

.btn__video {
    position: absolute;
    bottom: -5%;
    left: -6%;
    display: inline-block;
    text-decoration: none;
    transition: transform .3s ease-in-out;
}

.btn__video:hover {
    transform: rotate(-45deg);
}

.btn--yellow {
    background: #FFE660;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
}

.btn--yellow:hover {
    background: transparent;
}

/* Section
================*/
.section__title {
    margin-bottom: 135px;
    display: inline-block;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 48px;
}

.section__title::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 4px;
    background: #7ED3EE;
}

.section__title--about {
    margin-bottom: 80px;
}

.section__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

/* About
================*/
.about {
    padding: 110px 0 290px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__content {
    padding-top: 135px;
    width: 50%;
}

.about__text {
    font-weight: 300;
    font-size: 32px;
}

.about__picture {
    width: 50%;
}

/* Graduates
================*/
.graduates {
    padding-bottom: 150px;
    position: relative;
    background-image: url('../images/graduates/bg.webp');
    background-repeat: no-repeat;
    background-position: top right;
}

.graduates__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graduates__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graduates__item:nth-child(n + 3) {
    display: none;
}

.graduates__item.is-visible {
    display: flex;
}

.graduates__photo {
    width: 100%;
    border-radius: 28px;
}

.graduates__photo-link {
    width: 50%;
}

.graduates__content {
    margin-left: 50px;
    width: 50%;
}

.graduates__title {
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.graduates__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
}

.graduates__item+.graduates__item {
    padding-top: 120px;
}

/* Dogs
================*/
.dogs {
    margin-bottom: 250px;
}

.dogs__inner {
    background-image:
        url('../images/dogs/bone1.webp'),
        url('../images/dogs/bone2.webp');
    background-repeat: no-repeat;
    background-position: 96% 15%, -10% 99%;
}

.dogs__inner,
.dogs__item,
.dogs__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dogs__item+.dogs__item {
    margin-top: 150px;
}

.dogs__parents {
    margin-bottom: 10px;
    font-size: 40px;
    color: #000;
}

.dogs__info {
    font-size: 40px;
    text-transform: uppercase;
}

.dogs__info--odd {
    color: #5E8BFF;
}

.dogs__info--even {
    color: #FC5EFF;
}

.dogs__photo {
    margin: 30px 0;
    border-radius: 20px;
    width: 100%;
    max-width: 707px;
    height: auto;
}

.dogs__images .fslightbox-link:nth-child(n + 2) {
    display: none;
}

.dogs__images .fslightbox-link.is-visible {
    display: block;
}

/* Just-validate
================*/

.just-validate-error-label {
    position: absolute;
    top: 63px;
    left: 0;
    z-index: 1;
    font-size: 26px;
}

/* Form
================*/
.form {
    margin-bottom: 190px;
    background-image:
        url('../images/form/form.webp'),
        url('../images/form/form.webp');
    background-repeat: no-repeat;
    background-position: 109% 100%, -34% 18%;
}

.form,
.form__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__inner {
    width: 100%;
    max-width: 1060px;
    padding: 110px 110px 45px 180px;
    border: 1px solid #000;
    border-radius: 17px;
}

.form__group {
    width: 100%;
    position: relative;
}

.form__group::before {
    display: block;
    position: absolute;
    top: -30px;
    left: -115px;
    z-index: 1;

    padding: 15px 30px;
    border: 3px solid #7ED3EE;
    border-radius: 50%;

    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #7ED3EE;
}

.form__group:nth-child(1)::before {
    padding: 15px 35px;
    content: "1";
}

.form__group:nth-child(2)::before {
    content: "2";
}

.form__group:nth-child(3)::before {
    content: "3";
}

.form__group:nth-child(4)::before {
    content: "4";
}

.form__control {
    margin-bottom: 100px;
    display: block;
    width: 100%;
    max-width: 765px;
    padding: 10px 0 10px;

    background: none;
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 0;
    box-shadow: none;

    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #000;
}

.form__control::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    color: rgba(0, 0, 0, .65);
}

.form__control:focus {
    outline: none;
    border-color: #7ED3EE;
}

.form__control:focus::placeholder {
    color: #7ED3EE;
}

/* Social
=====================*/
.social {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social--footer {
    margin: 0;
    padding: 40px 0;
}

.social__item {
    margin-right: 18px;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 0 solid #fff;
    border-radius: 50%;
    background-color: #a1859e;
    transition: background-color .2s linear;
}

.social__item:last-child {
    margin-right: 0;
}

.social__item--footer {
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: #7ED3EE;
}

.social__item--facebook:hover {
    background-color: #4f689e;
}

.social__item--twitter:hover {
    background-color: #1DA1F2;
}

.social__item--linkedin:hover {
    background-color: #0077B5;
}

.social__item--telegram:hover {
    background-color: #3e61af;
}

.social__icon {
    display: block;
    height: 16px;
    fill: #fff;
}

.social__icon--footer {
    height: 33px;
}

/* Footer
=====================*/
.footer {
    background-color: #282828;
}

/* Burger
================*/
.burger {
    padding: 15px 0;
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    position: relative;
}

.burger:focus {
    outline: none;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #000;

    font-size: 0;
    color: transparent;
}

.burger.clicked span {
    opacity: 0;
}

.burger.clicked::before {
    transform: rotate(-45deg);
}

.burger.clicked::after {
    transform: rotate(45deg);
}

.burger.clicked::before,
.burger.clicked::after {
    top: 50%;
}

.burger::before,
.burger::after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #000;

    position: absolute;
    left: 0;
    z-index: 1;
    transition: all .2s ease;
}

.burger::before {
    top: 8px;
}

.burger::after {
    bottom: 8px;
}

/* Change-lang
================*/

.change-lang {
    position: absolute;
    top: 45%;
    right: 40px;
    z-index: inherit;
    height: 22px;
}

.change-lang:hover {
    cursor: pointer;
}

.change-lang:focus {
    outline: none;
}

/* Media
================*/
@media (max-width: 1300px) {

    /* Intro */
    .intro__title {
        white-space: initial;
        font-size: 50px;
    }

}

@media (max-width: 991px) {

    /* Nav */
    .nav {
        font-size: 25px;
    }

    .nav__link+.nav__link {
        margin-left: 70px;
    }

    /* Intro */
    .intro {
        padding: 250px 0;
    }

    .intro__title {
        font-size: 40px;
    }

    .intro__subtitle {
        font-size: 35px;
    }

    .intro__content {
        width: 60%;
    }

    .intro__prompt--content {
        top: -11%;
    }

    .intro__promt-arrow2 {
        width: 120px;
    }

    .intro__text {
        margin: 35px 0;
    }

    .intro__pictures {
        width: 40%;
    }

    .intro__prompt--pictures {
        top: 112%;
    }

    /* Btn */
    .btn__video {
        left: 15%;
        bottom: -14%;
    }

    .btn__video img {
        width: 130px;
        height: auto;
    }

    .btn {
        padding: 20px 38px;
        font-size: 20px;
    }

    /* About */
    .about {
        padding: 30px 0 80px;
    }

    .about__content {
        padding-top: 0;
    }

    .about__text {
        font-size: 25px;
        line-height: 1.3;
    }

    /* Section */
    .section__title {
        font-size: 37px;
        margin-bottom: 100px;
    }

    .section__title--about {
        margin-bottom: 50px;
    }

    /* Graduates */
    .graduates {
        padding-bottom: 80px;
    }

    .graduates__item+.graduates__item {
        padding-top: 50px;
    }

    .graduates__content {
        margin-left: 30px;
    }

    .graduates__title {
        margin-bottom: 15px;
        font-size: 32px;
    }

    .graduates__text {
        font-size: 25px;
    }

    .graduates__photo-link {
        width: 40%;
    }

    .graduates__content {
        width: 60%;
    }

    /* Dogs */
    .dogs {
        margin-bottom: 100px;
    }

    .dogs__item+.dogs__item {
        margin-top: 80px;
    }

    .dogs__parents {
        margin-bottom: 0;
        font-size: 30px;
    }

    .dogs__info {
        font-size: 30px;
    }

    /* Form */
    .form {
        margin-bottom: 100px;
    }

    .form__group::before {
        font-size: 36px;
    }

    .form__control {
        margin-bottom: 75px;
        font-size: 25px;
    }

    .form__control::placeholder {
        font-size: 25px;
    }

    /* Just validate error */

    .just-validate-error-label {
        top: 50px;
    }

    .btn--graduates {
        margin-top: 65px;
    }
}

@media (max-width: 767px) {

    /* Header */
    .header.fixed .nav {
        background-color: rgba(255, 255, 255, .97);
    }

    .header__inner {
        padding: 15px 0;
        justify-content: end;
    }

    /* Nav */
    .nav {
        padding: 0 20px 40px;
        display: none;
        flex-direction: column;
        align-items: end;
        width: 100%;

        text-align: right;

        position: absolute;
        top: 99%;
        right: 0;

    }

    .nav.show {
        display: flex;
    }

    .change-lang {
        margin-top: 10px;
        position: static;
        width: 45px;
    }

    /* Burger */
    .burger {
        display: block;
    }

    /* Intro */
    .intro {
        padding: 205px 0 60px;
    }

    .intro__inner {
        flex-direction: column;
        text-align: center;
    }

    .intro__content,
    .intro__pictures {
        width: 100%;
    }

    .intro__pictures {
        order: 1;
    }

    .intro__content {
        padding-top: 50px;
        order: 2;
    }

    .intro__title {
        font-size: 35px;
    }

    .intro__subtitle {
        font-size: 28px;
    }

    .intro__text {
        margin: 25px 0;
        font-size: 18px;
        line-height: 1;
    }

    .intro__prompt,
    .intro__promt-arrow1,
    .intro__promt-arrow2 {
        display: none;
    }

    /* About */
    .about {
        padding: 30px 0 50px;
    }

    .about__inner {
        flex-direction: column;
        justify-content: center;
    }

    .about__content {
        text-align: center;
    }

    .about__text {
        text-align: left;
    }

    .about__content,
    .about__picture {
        width: 100%;
    }

    /* Graduates */
    .graduates__item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .graduates__photo-link {
        margin-bottom: 20px;
        width: 100%;
    }

    .graduates__content {
        width: 100%;
        margin-left: 0;
    }

    .graduates__title {
        margin-bottom: 10px;
        font-size: 26px;
    }

    .graduates__text {
        text-align: left;
        font-size: 18px;
    }

    /* Dogs */
    .dogs {
        margin-bottom: 75px;
    }

    .dogs__item+.dogs__item {
        margin-top: 45px;
    }

    .dogs__parents,
    .dogs__info {
        font-size: 25px;
    }

    .dogs__birth {
        font-size: 20px;
    }

    .dogs__photo {
        margin: 20px 0;
    }

    /* Form */
    .form__inner {
        padding: 65px 50px 45px 50px;
    }

    .form__group::before {
        display: none;
    }

    .form__control {
        padding: 8px 0;
        margin-bottom: 35px;
        font-size: 22px;
    }

    .form__control::placeholder {
        font-size: 22px;
    }

    /* Btn */
    .btn__video {
        left: 30%;
        bottom: initial;
        top: 80%;
    }

    .btn__video img {
        width: 100px;
    }

    .btn {
        padding: 12px 25px;
        font-size: 18px;
    }

    /* Section */
    .section__title {
        margin-bottom: 65px;
        font-size: 27px;
    }

    .section__title::after {
        height: 2px;
    }

    /* Social */

    .social__icon--footer {
        height: 20px;
    }

    .social__item--footer {
        width: 40px;
        height: 40px;
        background-color: #7ED3EE;
    }

    .social--footer {
        padding: 25px 0;
    }

    /* Just validate error */

    .just-validate-error-label {
        line-height: 1;
        font-size: 20px;
    }
}

@media (max-width: 414px) {

    /* Section */
    .section__title {
        margin-bottom: 45px;
        font-size: 21px;
    }

    /* Dogs */
    .dogs__parents,
    .dogs__info {
        font-size: 20px;
        text-align: center;
    }

    /* Form */
    .form__inner {
        padding: 40px 15px;
    }

    .form__control {
        padding: 8px 0;
        margin-bottom: 25px;
        font-size: 18px;
    }

    .form__control::placeholder {
        font-size: 18px;
    }

    /* Btn */
    .btn {
        padding: 10px 20px;
        font-size: 16px;
    }

    .btn--graduates {
        margin-top: 25px;
    }

     /* Just validate error */

     .just-validate-error-label {
        top: 44px;
        font-size: 16px;
    }
}